[include]
  path = ~/.gitconfig.private
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = ~/.gitignore
  pager = less --tabs=4 -RFX
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX --pattern '^(added|deleted|modified): '
[interactive]
  diffFilter = diff-highlight
[git-up "bundler"]
  check = true
[rebase]
  autosquash = true
[push]
  default = current
[credential]
  helper = osxkeychain
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[alias]
  ll = log --format=fuller --graph --decorate
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  wdiff = diff --color-words
[hub]
  protocol = https
[url "https://github.com"]
	insteadOf = git://github.com
[pull]
	ff = only
[fetch]
	prune = true
[user]
	signingkey = ericboehs@gmail.com
[gpg]
	program = gpg2
[commit]
	gpgsign = true
